.works__container {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%);
    background: linear-gradient(to bottom, #5F12D0 50%, transparent 50%);
    padding-top: 100px;
    padding-bottom: 85px;

}